<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jd.dao.InstantResponseMapper" >
  <resultMap id="BaseResultMap" type="com.jd.pojo.InstantResponse" >
    <id column="instant_response_id" property="instantResponseId" jdbcType="INTEGER" />
    <result column="instant_comment_id" property="instantCommentId" jdbcType="INTEGER" />
    <result column="users_id" property="usersId" jdbcType="INTEGER" />
    <result column="instant_response_img" property="instantResponseImg" jdbcType="VARCHAR" />
    <result column="instant_response_content" property="instantResponseContent" jdbcType="VARCHAR" />
    <result column="instant_response_time" property="instantResponseTime" jdbcType="TIMESTAMP" />
    <result column="instant_response_descr" property="instantResponseDescr" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    instant_response_id, instant_comment_id, users_id, instant_response_img, instant_response_content, 
    instant_response_time, instant_response_descr
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jd.pojo.InstantResponseExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from instant_response
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from instant_response
    where instant_response_id = #{instantResponseId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from instant_response
    where instant_response_id = #{instantResponseId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.jd.pojo.InstantResponseExample" >
    delete from instant_response
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jd.pojo.InstantResponse" >
    insert into instant_response (instant_response_id, instant_comment_id, 
      users_id, instant_response_img, instant_response_content, 
      instant_response_time, instant_response_descr
      )
    values (#{instantResponseId,jdbcType=INTEGER}, #{instantCommentId,jdbcType=INTEGER}, 
      #{usersId,jdbcType=INTEGER}, #{instantResponseImg,jdbcType=VARCHAR}, #{instantResponseContent,jdbcType=VARCHAR}, 
      #{instantResponseTime,jdbcType=TIMESTAMP}, #{instantResponseDescr,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jd.pojo.InstantResponse" >
    insert into instant_response
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="instantResponseId != null" >
        instant_response_id,
      </if>
      <if test="instantCommentId != null" >
        instant_comment_id,
      </if>
      <if test="usersId != null" >
        users_id,
      </if>
      <if test="instantResponseImg != null" >
        instant_response_img,
      </if>
      <if test="instantResponseContent != null" >
        instant_response_content,
      </if>
      <if test="instantResponseTime != null" >
        instant_response_time,
      </if>
      <if test="instantResponseDescr != null" >
        instant_response_descr,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="instantResponseId != null" >
        #{instantResponseId,jdbcType=INTEGER},
      </if>
      <if test="instantCommentId != null" >
        #{instantCommentId,jdbcType=INTEGER},
      </if>
      <if test="usersId != null" >
        #{usersId,jdbcType=INTEGER},
      </if>
      <if test="instantResponseImg != null" >
        #{instantResponseImg,jdbcType=VARCHAR},
      </if>
      <if test="instantResponseContent != null" >
        #{instantResponseContent,jdbcType=VARCHAR},
      </if>
      <if test="instantResponseTime != null" >
        #{instantResponseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="instantResponseDescr != null" >
        #{instantResponseDescr,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jd.pojo.InstantResponseExample" resultType="java.lang.Integer" >
    select count(*) from instant_response
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update instant_response
    <set >
      <if test="record.instantResponseId != null" >
        instant_response_id = #{record.instantResponseId,jdbcType=INTEGER},
      </if>
      <if test="record.instantCommentId != null" >
        instant_comment_id = #{record.instantCommentId,jdbcType=INTEGER},
      </if>
      <if test="record.usersId != null" >
        users_id = #{record.usersId,jdbcType=INTEGER},
      </if>
      <if test="record.instantResponseImg != null" >
        instant_response_img = #{record.instantResponseImg,jdbcType=VARCHAR},
      </if>
      <if test="record.instantResponseContent != null" >
        instant_response_content = #{record.instantResponseContent,jdbcType=VARCHAR},
      </if>
      <if test="record.instantResponseTime != null" >
        instant_response_time = #{record.instantResponseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.instantResponseDescr != null" >
        instant_response_descr = #{record.instantResponseDescr,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update instant_response
    set instant_response_id = #{record.instantResponseId,jdbcType=INTEGER},
      instant_comment_id = #{record.instantCommentId,jdbcType=INTEGER},
      users_id = #{record.usersId,jdbcType=INTEGER},
      instant_response_img = #{record.instantResponseImg,jdbcType=VARCHAR},
      instant_response_content = #{record.instantResponseContent,jdbcType=VARCHAR},
      instant_response_time = #{record.instantResponseTime,jdbcType=TIMESTAMP},
      instant_response_descr = #{record.instantResponseDescr,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jd.pojo.InstantResponse" >
    update instant_response
    <set >
      <if test="instantCommentId != null" >
        instant_comment_id = #{instantCommentId,jdbcType=INTEGER},
      </if>
      <if test="usersId != null" >
        users_id = #{usersId,jdbcType=INTEGER},
      </if>
      <if test="instantResponseImg != null" >
        instant_response_img = #{instantResponseImg,jdbcType=VARCHAR},
      </if>
      <if test="instantResponseContent != null" >
        instant_response_content = #{instantResponseContent,jdbcType=VARCHAR},
      </if>
      <if test="instantResponseTime != null" >
        instant_response_time = #{instantResponseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="instantResponseDescr != null" >
        instant_response_descr = #{instantResponseDescr,jdbcType=VARCHAR},
      </if>
    </set>
    where instant_response_id = #{instantResponseId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jd.pojo.InstantResponse" >
    update instant_response
    set instant_comment_id = #{instantCommentId,jdbcType=INTEGER},
      users_id = #{usersId,jdbcType=INTEGER},
      instant_response_img = #{instantResponseImg,jdbcType=VARCHAR},
      instant_response_content = #{instantResponseContent,jdbcType=VARCHAR},
      instant_response_time = #{instantResponseTime,jdbcType=TIMESTAMP},
      instant_response_descr = #{instantResponseDescr,jdbcType=VARCHAR}
    where instant_response_id = #{instantResponseId,jdbcType=INTEGER}
  </update>
</mapper>